@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inp {
    @apply container py-2 px-4 font-semibold rounded-tl-md rounded-tr-md border-b-white border-b-2 bg-gray-800 shadow-md  focus:outline-none;
  }
  .sub-btn{
    @apply py-2 px-4 bg-gray-900 rounded-md mt-2 mb-2
  }
  .loader {
    border-top-color: #ffffff; /* White border for the loader */
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  cursor: default;
}